* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 57.5%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.grid-wrapper {
    display: grid;
    grid-template-areas:
        "header header header header"
        "sidebar sidebar sidebar sidebar";
}

header {
    height: 10rem;
    display: flex;
    align-items: center;
    background-color: #7979de;
    color: white;
    padding: 3rem 1.5rem;
    grid-area: header;
}

header h1 {
    margin-right: auto;
    font-weight: normal;
    font-size: 2.1rem;
}

header h1 sup {
    font-size: 1rem;
}

header .bell-icon {
    fill: white;
    height: 2.8rem;
    padding-right: 1rem;
    position: relative;
}

header .bell-icon::after {
    content: "";
    display: block;
    width: 7.5px;
    height: 7.5px;
    background-color: #c3ff48;
    border-radius: 100%;
    position: absolute;
    top: -5px;
    right: 15px;
    z-index: 10000;
    position: absolute;
}

header .student-identity {
    border-left: 1px solid lightgray;
    display: flex;
    align-items: center;
}

header .profile-img {
    height: 5rem;
    border-radius: 50%;
    margin: 0 1rem;
}

header .student-name {
    font-size: 1.2rem;
}

.sidebar-nav {
    grid-area: sidebar;
    max-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 2.7rem;
    padding: 1.5rem 1rem;
    background-color: #494984;
}

.sidebar-nav svg {
    height: 3.8rem;
    fill: white;
}

@media screen and (min-width: 768px) {
    .grid-wrapper {
        grid-template-areas:
            "header header header header"
            "sidebar . . ."
            "sidebar . . ."
            "sidebar . . ."
            "sidebar . . .";
    }
    .sidebar-nav {
        background-color: tomato;
        flex-direction: column;
        max-height: 100%;
        width: 10rem;
    }
}
